@mixin gradient ($place, $st-color, $end-color) {
  background: -webkit-linear-gradient($place, $st-color, $end-color);
  background: -moz-linear-gradient($place, $st-color, $end-color);
  background: -ms-linear-gradient($place, $st-color, $end-color);
}