$color_white: #ffffff;
$color_light_green: #95b361;
$color_dark_green: #52701e;
$color_gray: #999999;
$color_light_gray: #edf0e1;
$color_middle_gray: #e5e5e5;
$color-dark_gray: #313131;
$color_light_black: #282828;
$color_middle_black: #1c1c1c;
$color_black: #020202;
$border-radius: 3px;